:root {
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainYellow:#ffa400;
}

body{
  font-family: "Oawald",sans-serif!important;
  background:var(--mainwhite)!important;
  color:var(--maindark)!important;
}
.text-title{

font-family: 'Permanent Marker', cursive;
letter-spacing: 0.3rem;
text-transform: uppercase;

}

.text-blue{
  color:var(--mainblue)
}